/* small screens */
@media (max-width:480px) {
	/* Scrollbar */ 
	::-webkit-scrollbar{width: 10px;}
	::-webkit-scrollbar-thumb{background-color:rgb(160, 203, 235); border-radius: 4; height:2em;}
	::-webkit-scrollbar-thumb:hover{background-color:rgb(47, 109, 153);}
	::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}
	/* End Scrollbar */

}

/* tablets portrait */
@media (min-width:768px) {

}


/* tablets landscape and up */
@media (min-width:768px) {

}


/* large screens */
@media (min-width:1280px) {

	section#aboutLeft {
		width:17%;
		display:inline-block;
	    background-image: url('../images/avatar.png');
	    background-size: 120%;
	    background-repeat: no-repeat;
	    background-position: -3em 1.25em;
	    padding-bottom: 41%;
	}
	section#aboutRight {
		width:80%;
		display: inline-block;
		color:#000;
		margin-top: -4em;
	}
	
	#aboutContent {
		margin: 3em 0 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #666;
		padding: 2%;
		background: #fff;
		background: rgb(252,255,244); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
		height:42em;
		overflow:auto;
		position:relative;
	}
	#aboutContent > .content h2 {
		text-align: center;
		margin: .25em;
	}
	#aboutContent > .content h2,
	#aboutContent > .content h3,
	#aboutContent > .content h4,
	#aboutContent > .content h5 {
		color: #284f70;
	}
	#aboutContent > .content p,
	.pgDownLink {
		color:#000;
		padding:.5%;
		font-size: 1.15em;
	}

	#contTwo,
	#contThree {
		display:none;
		position:absolute;
		top:0;
		left:0;
		padding:2%;
		width: 100%;
	}

	/* Pagination styles */
	#pgDownLink,
	#pgUpLink {
		width:100%;
		position:absolute;
		bottom:45%;
		cursor: pointer;
	}
	#pgDownLink {
		left:93.75%;
	}
	#pgUpLink {
		left: 16.5%;
	}
	#pgDownLink a,
	#pgUpLink a {
		text-decoration:none;
		font-size:1.5em;
		line-height: 3em;
	}
	.RchevronWrapper, 
	.LchevronWrapper {
		width:2.5em;
		display:inline-block;
	}
	.LchevronWrapper{
		left: 2em;
	}
	.RchevronWrapper {

	}
	.Rchevron::before,
	.Lchevron::before {
		border-style: solid;
		border-width: 0.2em 0.2em 0 0;
		content: '';
		display: inline-block;
		height: .7em;
		left: 0.25em;
		position: relative;
		top: .15em;
		transform: rotate(45deg);
		vertical-align: top;
		width: .7em;
		font-size:2em;
		-webkit-animation: glow 2.5s infinite alternate;
	}
	.Lchevron::before {
		transform: rotate(-135deg);
	}
	.Rchevron::after,
	.Lchevron::after {
		content:'';
		margin-right:.5em;
	}
	@-webkit-keyframes glow {
	    to {
			-moz-box-shadow: 7px -7px 8px #666;
			-webkit-box-shadow: 7px -7px 8px #666;
			box-shadow: 7px -7px 8px #666;
	    }
	}

	/* ----------------- */

	/* Page 1 */
	#contOne h2 {
		background-image: url('../images/darkFabricBg.png');
		position: absolute;
	    top: -.5em;
	    left: -.25em;
	    width: 100%;
	    padding: 1em;
	    color: #77b8e0!important;
	}
	#contOne p {
		margin-top: 3.8em;
	}
	.cube1,
	.cube2,
	.tagCloud {
		width: 33.33%;
		text-align:center;
	}
	.cube1{
		margin-top: 5em!important;
	}
	.cube2 {
  	  	margin: 5em 4em 9em 8em!important;
	}
	.tagCloud img{
		width: 93%;
	}
	.cubeNote {
		position:absolute; 
		bottom:1em; 
		font-size:.75em!important;
	}
	.cubeNoteRight {
		right: 8em;
	}
	/* -----End Page 1 ------------ */

	/* page 2 */

	/* rotating cards */
	.card-container {
		cursor: pointer;
		height: 150px;
		perspective: 600;
		position: relative;
		width: 150px;
		display:inline-block;
		margin:1em 0 1em 1em;
	}
	.card {
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: all 1s ease-in-out;
		width: 100%;
		-webkit-box-shadow: inset 0px 0px 33px 1px rgba(0,0,0,0.77);
		-moz-box-shadow: inset 0px 0px 33px 1px rgba(0,0,0,0.77);
		box-shadow: inset 0px 0px 33px 1px rgba(0,0,0,0.77);
	    border-radius: 5px;
		box-sizing: border-box;
	}
	.card:hover {
		transform: rotateY(180deg);
	}
	.card .side {
		backface-visibility: hidden;
		border-radius: 6px;
		height: 100%;
		position: absolute;
		overflow: hidden;
		width: 100%;
		text-align: center;
		padding: 5.75%;
	}
	.card .side img {
		max-width: 130px;
	}
	.card .back {
		background: #eaeaed;
		color: #0087cc;
		text-align: center;
		transform: rotateY(180deg);
		padding: 10% 3%;
		border: 1px solid #808080;
	}
	/* ----End Rotatine Cards --------- */

	/* ------End Page 2----------- */

	/* Page 3 */
	#contThree h4 {
		background: url('../images/darkFabricBg.png');
		width: 100%;
		padding: 1em;
		position: absolute;
		top: -.55em;
		left: 0;
		color: #77b8e0!important;
	}
	#contThree p:first-of-type {
		margin-top: 2.5em;
	}
	#contThree p:last-of-type {
		margin-bottom: 0;
	}
	span.smItalic {
		font-size: .65em;
		font-style: italic;
	}
	#contThree p span.sectionTitle {
		font-weight: bold;
		color: #32628c;
	}

	/* -----End Page 3 ------------ */


/* --- End About Me ---------- */
}