.smItalic {
	font-size:.75em;
	font-style: italic;
}
#resume {
	padding:.5em;
	margin-top:-2em;
	max-height:100%;
	position:relative;
	z-index:200; /* set below z-index of modalBg */
}
#resume h3 {
	color:#59A3F5;
	font-weight:bold;
	font-size:2.5em;
	line-height:3em;
	margin-left:10%;
}
#resume p {
	margin-left:10%;
	vertical-align: baseline;
	color:#1B5428;
}
#resume p.download {
	top: 0;
    left: 5%;
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    color: #337ab7;
}

#resume p.download a {
	color: #fff;
	letter-spacing: 2px;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: underline;
}
#resume p.download a::before,
#resume p.download a::after {
	content: '\00a0';
}
#resume p.download a:visited {
	color: #888;
}

/* === Mobile devices - Portrait (320px wide) === */
@media only screen and (min-width : 20em) {
	section.resume {
		margin:0 auto 2em auto;
		width:95%;
	}
	/* navigation links */
	ul.tabLinks {
		margin: 1em 0 -3px 0;
		padding-left:.5em;
		padding-bottom:.2em;
	}
	ul.tabLinks li {
		display:inline-block;
		margin: 0 auto;
		font-size:1.5em;
		padding:0 1em;
	}
	ul.tabLinks li.active {
		background-color:#333;
	}
	ul.tabLinks li.active a {
		color:#59A3F5;
		font-weight:bold;
	}
	ul.tabLinks li a {
		text-decoration: none;
		color:#666;
		font-weight:bold;
	}

	/* gobal display settings */
	div.tabContent {
		padding:1em 0 1em 3em;
		position:absolute.;
		height: 100%;
	}
	/* Skills Tab */
	.skilList ul {
		float:left;
		margin-top:1em;
		font-size:1em;
		line-height:1em;
		text-align:left;
		color:#1B5428;
	}
	.skilList ul li.title {
		font-size:1.5em;
		font-weight:bold;
		color:#3A6BA2;
		padding-bottom:.5em;
		margin-left:-.5em;
		text-decoration: underline;
	}
	/* Work Tab */
	div.work {
		padding: .5em;
	}
	div.employerInfo {
		margin:.9em .2em;
		font-size:1em;
		line-height:1em;
		text-align:justify;
	}
	div.employerInfo div.empTitle {
		font-weight:bold;
		float:left;
		font-size:1.5em;
		line-height:1.5em;
		color:#3A6BA2;
	}
	div.employerInfo div.empDate {
		float:right;
		font-style:italic;
		color:#333;
	}
	div.employerInfo p.jobTitle {
		color:#333;
	}
	/* Education Tab */
	div.education {
		padding:1em;
	}
	.education ul {
		float:left;
		font-size:1em;
		line-height:1em;
		padding-bottom:.5em;
		color:#1B5428;
	}
	.education ul li.title {
		font-size:1.2em;
		font-weight:bold;
		color:#3A6BA2;
		padding-bottom:.2em;
		margin-left:-.2em;
		text-decoration: underline;
	}
	.education ul.ibm {
		font-weight:normal;
		font-size:1em;
	}
	.education ul.ibm li {
		font-weight:normal;
		font-size:1em;
		margin-left:1em;
		color:#1B5428;
	}
	.education ul.formal li:nth-child(odd) {
		text-align:right;
		margin-right:3em;
	}
	.education ul.formal li.title {
		text-align:left;
	}
	.education ul.ibm li:first-child {
		margin-left:0;
		text-decoration:underline;
		color:#3A6BA2;
		margin-top:1em;
	}
	span.courseLoc,
	li.gradDate {
		color:#333;
	}
}

/* === Tablet devices - Portrait (768px wide) === */
@media only screen and (min-width : 48em) {
	.tab {
		height:40em;
		overflow-y: auto;
		overflow-x: hidden;
		border:1px solid #666;
		border-bottom: 1px solid #666;
		border-radius: 0 0 10px 10px;
		background-color:#bbb;
	}
	ul.tabLinks {
		padding-left:2em;
	}
	ul.tabLinks li {
		margin: 0 2em 0 0;
	}

	/* Skills Tab */
	.skilList ul {
		width:33.33%;
	}

	/* Work Tab */
	div.work {
		padding:1.5em;
	}
	div.employerInfo {
		font-size:1.2em;
		line-height:1.3em;
	}
	
	div.employerInfo div.empDate {
		margin-right:2.5em;
	}
	
	/* Education Tab */
	div.education {
		padding:2em;
	}
	.education ul {
		font-size:1.25em;
		line-height:1.25em;
	}
	.education ul li.title {
		margin-left:-.5em;
	}
	#resume p.download {
		top: -2.5em;
   		left: 15%;
	}
}

/* === Tablet devices - Landscape (1024px wide) === */
@media only screen and (min-width : 64em) {
	section.resume {
		width:80%;
	}

	/* Skills Tab */
	.skilList ul {
		width:33.33%;
		font-size:1.5em;
		line-height:1.5em;
	}
	.skilList ul li.title {
		padding-bottom:.2em;
	}

	/* Education Tab */
	.education ul {
		width:50%;
	}
}


