<section id="aboutLeft">
	<img src="images/avatar.png" />
</section>
<section id="aboutRight">
	<div id="aboutContent">
		<div id="contOne" class="content active">
			<h2>I am awesome ... no really I am. Keep reading to find out why</h2>
			<p>
				I have more than 14 years of experience with HTML/CSS/JavaScript/jQuery from a freelance web design perspective and work hard to stay current on existing as well as
				emerging technologies. My recent work experience also includes AngularJS, Bootstrap, LESS, Ajax, JSON, PHP, MySQL, Freemarker Template Language (FTL), REST integration, and various Responsive Design technologies. This combined with a previous 18 year career in IT services covering everything from level 1 help desk up to Network/Server administration make me a very well rounded technical resource and an ideal candidate for a wide range of projects.
			</p>
	
			<!-- cube -->
			<div class="stage">
				<div class="cubespinner">
					<div class="face1"><img src="images/dice/HTML_CSSLogo.png"/></div>
					<div class="face2"><img src="images/dice/reactLogo.png"/></div>
					<div class="face3"><img src="images/dice/JsLogo.png"/></div>
					<div class="face4"><img src="images/dice/jQuery.png"/></div>
					<div class="face5"><img src="images/dice/Angular.png"/></div>
					<div class="face6"><img src="images/dice/multiBrowser.png"/></div>
				</div>
			</div>

		</div>

		<!-- Page 2 -->
		<div id="contTwo" class="content">
			<h4>Page #2</h4>
			<!-- card flip -->
			<div class="card-container">
				<div class="card">
					<div class="side"><img src="images/dice/HTML5Logo.png" alt="HTML5"></div>
					<div class="side back"><br /><br /><span class="bold">10+ years coding HTML</span></div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="side"><img src="images/dice/CSS3Logo.png" alt="CSS3"></div>
					<div class="side back"><span class="bold">10+ years coding CSS3<br />4+ years </span>doing <br />CSS Animations<br />& transitions</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="side"><img src="images/dice/JsLogo.png" alt="javaScript"></div>
					<div class="side back"><span class="bold">10+ years coding JS<br />Including:</span><br />Animations/Transitions<br />aJax, JSON, and REST api integrations</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="side"><img src="images/dice/jQuery.png" alt="jQuery"></div>
					<div class="side back"><br /><br /><span class="bold">10+ years coding jQuery</span></div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="side"><img src="images/dice/Angular.png" alt="AngularJs"></div>
					<div class="side back"><span class="bold">4+ years coding AngularJs<br />Including:</span><br />Factories, Routes, and Custom Controllers</div>
				</div>
			</div>
		</div>

		<!-- Page 3 -->
		<div id="contThree" class="contnet">
			<h4>Page #3</h4>
			
			<!-- 3d box -->
			<figure id="threeDCube">
			    <img src="http://lorempixel.com/192/96/sports/1" alt="Portfolio Item">
			    <div class="cubeCaption">
			        <h3>Title</h3>
			        <p>Description.</p>
			    </div>
			</figure>

			<p>
				Lorem ipsum dolor sit amet, donec cras sapien arcu sociis non, erat maiores magna dictum lorem. Semper in ipsum, id cras urna, sit ligula venenatis tortor potenti euismod sit. Quis lectus proin suspendisse vehicula, vivamus nam, in risus, varius turpis bibendum. Sed inventore eu nunc at, etiam urna, blandit vehicula enim, id iaculis, in sodales. Dolor dapibus cubilia et, justo magna odio ut. Eu vitae vel. Pellentesque pretium hymenaeos, elit ut nunc justo porttitor justo, maecenas pede magnam dictumst, tincidunt in vestibulum condimentum velit. Turpis feugiat dignissim nec, ullamcorper enim amet lacinia repudiandae, mauris nulla iaculis placerat nonummy mauris, blandit ante eget eu consectetur ipsum adipiscing. Ullamcorper lacinia mauris semper, arcu ipsum sollicitudin quisque, sem commodo quisque neque, ut diam sapien vel posuere eget, dui vel integer elit. Etiam adipiscing suspendisse dignissimos ab suscipit tellus.
			</p>

			<p>
				Rhoncus porttitor in, ipsum cras rhoncus eget integer magna id, tincidunt eu adipiscing lorem eget pellentesque, mi amet hendrerit. Molestie nulla egestas elit suspendisse scelerisque pede, taciti et in faucibus montes a curabitur, et leo commodo felis, euismod donec. Vel nam sed a. Nonummy mus metus pellentesque porta neque tellus, elementum semper, id justo mollis dictumst nulla non, suspendisse orci facilisi odit tempus eget class, montes sit. Justo amet justo sed euismod ac, conubia pellentesque nunc suscipit rutrum turpis, arcu sed, viverra ipsum urna augue vulputate amet ultrices, wisi ut ut maecenas magnis turpis.
			</p>
			<p>
				Nulla nec imperdiet praesent, nunc volutpat, conubia rhoncus, eget odio eu risus, condimentum mollis magna aliquam tristique vitae nulla. Ipsa quis nec tempor pede. Lobortis ullamcorper donec, hac at rutrum maecenas molestie arcu, est maecenas proin purus amet, iaculis dapibus urna congue a. Parturient dolorem dolor, sed magna non dui nunc, quia nulla, nisl gravida vitae ipsum nam cursus elit, sed vitae nunc. Dictum imperdiet iaculis, sapien turpis elit fusce ut conubia nec, morbi accumsan ad. Vehicula vivamus nec morbi consequat vel, porttitor eveniet risus, nec cum ut sapien tortor mauris mi. Odio leo, vehicula nec amet commodo id sit penatibus. Lacus in suspendisse, massa non, porta class numquam sed enim augue, ac id cras. Vitae est molestie molestie dignissim velit enim, auctor luctus adipiscing a ac.
			</p>
		</div>

	</div>
	<div id="pgUpLink">
		<a ng-click="aboutPgUpClick()" ng-hide="hidepgUpLink"><span class="LchevronWrapper"><span class="Lchevron bottom"></span></span></a>
	</div>
	
	<div id="pgDownLink">
		<a ng-click="aboutPgDownClick()" ng-hide="hidepgDownLink"><span class="RchevronWrapper"><span class="Rchevron bottom"></span></span></a>
	</div>
	
</section>
